@using AirBB.Models
@{
    Layout = "_Layout";

    string controller = ViewContext.RouteData.Values["controller"]?.ToString() ?? "";
    string action = ViewContext.RouteData.Values["action"]?.ToString() ?? "";
}

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="~/images/AirBnBLabel.png" class="img-fluid bg-white" width="60" />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Service" asp-action="List">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Experience" asp-action="List">Experiences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Residence" asp-action="List">Residence</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    @{
                        var session = new AirBBSession(Context.Session);
                        int? count = session.GetMyReservationCount() ?? 0;
                    }
                    <a asp-controller="Home" asp-action="MyReservations"
                       class="text-white">
                        @if (count.HasValue)
                        {
                            <h5 class="p-2">
                                <span class="badge bg-light text-black">@count</span>
                            </h5>
                        }
                    </a>
                    <li class="nav-item">
                        <a class="nav-link @(controller == "Admin" ? "active" : "")"
                           asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    @RenderBody()
</main>

